{% extends "base.html" %}

{% block title %}
Booking
{% endblock %}

{% block content %} 
<div class="container booking-container">
    {% if events is defined %}
        {% if events|length > 0 %}
            {% for event in events %}
            <div class="booking-box bg-dark">
                <h2 class="event-name">{{ event['name'] }}</h2>
                <div class="info-details mt-3">
                    <p><strong>Date:</strong> {{ event['date'] }}</p>
                    <p><strong>Max Participants:</strong> {{ event['max_participants'] }}</p>
                    <p><strong>Instructor:</strong> {{ event['assigned_instructor'] }}</p>
                </div>
                <button type="submit" class="btn btn-primary btn-block mt-3">Book</button>
            </div>
            {% endfor %}
        {% else %}
            <div class="alert alert-info alert-dismissible show flash-message" role="alert">
                No events found in the database.
                <button type="button" class="close text-muted" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endif %}
    {% else %}
        <div class="alert alert-danger alert-dismissible show flash-message" role="alert">
            Events data not passed to template.
            <button type="button" class="close text-muted" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}
</div>
{% endblock %}